[submodule "public/files"]
	path = public/files
	url = https://github.com/Smithed-MC/PublicResources
[submodule "src/src/shared"]
	path = src/src/shared
	url = https://github.com/Smithed-MC/smithed-shared
[submodule "src/shared"]
	path = src/shared
	url = https://github.com/Smithed-MC/smithed-shared
