/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Disket';
  src: local('Disket'),
       url('./fonts/Disket-Mono-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Disket-Bold';
  src: local('Disket-Bold'),
       url('./fonts/Disket-Mono-Bold.ttf') format('truetype')
}
@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata'),
       url('./fonts/Inconsolata.otf') format('opentype')
}

@layer base {
  h1 {
    font-size: 3rem;
    margin: 0px;
    font-family: Disket-Bold;
    color: var(--text);
  }
  h2 {
    font-size: 2.25rem;
    margin: 0px;
    font-family: Disket-Bold;
    color: var(--subText);
  }
  h3 {
    font-size: 1.5rem;
    margin: 0px;
    font-family: Disket-Bold;
    color: var(--subText);
  }
  hr {
    border-color: var(--text);
  }
  div {
    color: var(--text);
    font-family: Inconsolata;
  }
  button {
    background-color: var(--lightAccent);

    border: none;
    color: var(--titlebar);
    font-family: Disket-Bold;

    @apply hover:brightness-75 active:brightness-[60%];
  }
}
.hideOnSmithed {
  display: none;
}